* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Geist Mono;
    background-color: chocolate;
    line-height: 1.6;
}

header {
    background-color: #52331c85;
    text-align: center;
    padding: 0.9em;
}

h1 {
    font-size: xx-large;
    color: #ffffff8e;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

p {
    font-size: x-large;
    color: #ffffffcb;
}

main {
    padding: 0 1em;
}

form {
    background-color: #ffffff8e;
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000008e;
}

label {
    display: block;
    margin: 1em 0 0.5em;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    resize: none;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.check, .label {
    width: 10%;
    display: inline;
}

button {
    background-color: chocolate;
    color: white;
    width: 100%;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
}

button:hover {
    background-color: #52331c85;
}

#submit {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}